/* Author: Marek Nesvadba */

:root{
    --primary-color: #ff8b00;
    
    --background-dark-color: #383E42;
    --background-light-color: #F5F5F5;
    
    --text-highlight-color: #ff8b00;
    --text-light-color: #F5F5F5;
    --text-dark-color: #383E42;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Montserrat', 'Roboto', sans-serif;
    color: var(--text-light-color);
}

html{
    scroll-behavior: smooth;
}

a{
    color: var(--text-highlight-color);
    text-decoration: underline;
}

.content{
    height: 100%;
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    margin: 32px 0px;
}

section{
    display: flex;
    justify-content: center;
}

.light-bg{
    background-color: var(--background-light-color);
}

.dark-bg{
    background-color: var(--background-dark-color);
}

.light-bg p,.light-bg h2{
    color: var(--text-dark-color);
}

.dark-bg p,.dark-bg h2{
    color: var(--text-light-color);
}

h1{
    font-size: 42px;
    font-weight: 600;
    color: var(--text-light-color);
}

h2{
    font-size: 32px;
    font-weight: 700;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

#interests h2{
    margin-bottom: 32px;
}

h3{
    color: var(--primary-color);
}

/* Header */
header{
    height: calc(100vh);
    display: flex;
    justify-content: center;
}

.highlight{
    font-weight: 690;
    color: var(--text-highlight-color);
}

.avatar{
    border-radius: 5%;
    width: 70%;
    height: auto;
}

.avatar_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.name_wrapper{
    display: flex;
    justify-content: center;
}
.header-arrow-wrapper{
    position: absolute;
    bottom: 0;
    left: calc(50% - 32px);
    margin: 16px;
}
.header-arrow{
    font-size: 32px;
    color: var(--text-light-color);
}

.header-arrow:hover {
    color: var(--text-highlight-color);
}

/* Navigation */
nav{
    background-color: var(--background-dark-color);
    display: flex;
    width: 100%;
    position: fixed;
}

.menu-right-buttons{
    display: flex;
    margin-left: auto;
}
.menu-button{
    font-size: 20px;
    padding: 16px;
    color: var(--text-light-color);
}

.menu-button a:hover {
    color: var(--text-highlight-color);
}

nav a,nav i{
    color: var(--text-light-color);
    text-decoration: none;
}

.menu-top{
    display: flex;
    justify-content: space-between;
    font-weight: 690;
}

.hamburger{
    margin-right: 8px;
}

#menu-hide{
    display: none;
}

/* Projects */
.project{
    margin-top: 32px;
    display: flex;
}

.project-info{
    margin-left: 32px;
    color: var(--text-dark-color);
}
.project-image{
    border-radius: 15px;
    width: 500px;
}

.project-title{
    margin-top: 4px;
    font-size: 32px;
    font-weight: 700;
}

.project-desc-short{
    margin-top: 16px;
    font-size: 15px;
    font-weight: 555;
}

.project-technologies{
    font-size: 15px;
    font-weight: 400;
}

.play-button{
    width: 200px;
}

.github-button{
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--text-dark-color);
    background-color: white;
    color: black;
    padding: 5px;
}

.github-button:hover{
    border-color: black;
}

.fa-github{
    color: black;
    margin-right: 5px;
}

.fa-unity{
    color: black;
}

.links {
    display: grid;
}

.links a{
    color: var(--primary-light-color);
}

.links a:hover{
    color:var(--primary-color);
}

/* Contact */
.icon-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 88px;
}

.icon{
    width: calc(100vw/10);
    max-width: 50px;
    margin: 10px;
}

.icon:hover{
    max-width: 60px;
    width: 60px;
}

/* Footer */
footer{
    background-color: var(--background-dark-color);
    display: flex;
    justify-content: center;
}

footer p{
    color: var(--text-light-color);
    font-weight: 150;
}

footer p{
    padding: 15px;
}

.can-enlarge{
    cursor: zoom-in;
}

/* Responsive */
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones */
[class*="col-"] {
    width: 100%;
}

/* TODO: do this in some better way */
.video{
    width: 100%;
}

/* For desktop */
@media only screen and (min-width: 650px) {
    .col-wide-1 {width: 8.33%;}
    .col-wide-2 {width: 16.66%;}
    .col-wide-3 {width: 25%;}
    .col-wide-4 {width: 33.33%;}
    .col-wide-5 {width: 41.66%;}
    .col-wide-6 {width: 50%;}
    .col-wide-7 {width: 58.33%;}
    .col-wide-8 {width: 66.66%;}
    .col-wide-9 {width: 75%;}
    .col-wide-10 {width: 83.33%;}
    .col-wide-11 {width: 91.66%;}
    .col-wide-12 {width: 100%;}

    #navbar .content{
        display: flex;
    }

    .avatar{
        width: 100%;
    }

    .avatar_wrapper{
        margin: 0;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .name_wrapper{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .hamburger{
        display: none !important;
    }

    #menu-hide{
        display: flex !important;
    }

    .screens{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .videos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .video{
        width: 720px;
        height: 405px;
    }
}
